*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
}
.logo{
    width:180px;
    height:30px;
}
.logo img{
    width:100%;
    height:100%;
}
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:1.75rem 3rem;
}
.topnav {
    overflow: hidden;
}
  
.topnav a {
  float: left;
  display: block;
  color: #840c16;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  transition:all .5s ease;
}
.topnav a:hover{
  background:#FAE1E1;
}
.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 24px;    
  border: none;
  outline: none;
  color: #840c16;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #840c16;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #FAE1E1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
a.active{
  color:#fff;
  background:#840c16;
}
a.active:hover{
  color:#fff;
  background:#840c16;
}

button{
    opacity:.9;
    border:none;
    outline:none;
    padding:1rem 2rem;
    background:#840c16;
    color:#fff;
    cursor:pointer;
    font-size:16px;
    font-weight:16px;
    transition:all .5s ease;
}
button:hover{
    opacity:1;
}
.drivenImage img,.peopleImage img{
    width:100%;
    height:100%;
}
.driven,.people{
    display:grid;
    grid-template-columns:1fr 1fr;
    place-items: center;
    margin:4rem 8rem;
    padding:3rem;
}
.people{
    background:#f9f9f9;
    margin:0;
}
.driven .content p:first-child{
    color:#840c16;
    font-size:3.5rem;
    margin:1rem 0;
}
.people .content p:first-child{
    font-size:3.5rem;
    margin:2rem 0;
    font-weight:400;
}
.people .content p:nth-child(2){
    font-size:1.3rem;
    margin:1.5rem 0;
    font-weight:400;
}
.driven .content p:last-child{
    font-size:1.3rem;
    margin:1.5rem 0;
}
.growth{
    padding:4rem 0;
}
.growth p:first-child{
    font-size:3rem;
    margin:3rem 0;
    font-weight:300;
    text-align:center;
    color:#333333;
}
.growth p:nth-child(2){
    font-size:1.3rem;
    margin:1.5rem 5rem;
    text-align:center;
    padding:0 5rem;
}
.growthImages {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    place-items: center;
    margin:0 5rem;
}
.growthImage{
    width:70px;
    height:70px;
}
.growthImage img{
    width:100%;
    height:100%;
}
.giving{
    display:grid;
    grid-template-columns:1fr;
    place-items: center;
    background:#f9f9f9;
    padding:5rem 0;
    gap:3rem 0;
}
.giving1{
    display:grid;
    grid-template-columns:1fr 1fr;
    place-items: center;
    margin:2rem 8rem;
    gap:1rem;
}
.giving1 h1{
    margin:2rem 0;
}
.giving1 p{
    font-size:1.3rem;
    margin:1.5rem 0;
    font-weight:400;
}
.giving2{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    place-items: center;
    gap:3rem;
}
.giving2Logos{
    width:100px;
    height:100px;
}
.giving2Logos img,.giving1Image,.giving1Image img
    {
    width:100%;
    height:100%;
}
.chat{
    text-align:center;
    margin:3rem 0;
    padding:3rem 0;
}
.chat p{
    margin:2rem 0;
    color:#840c16;
    font-size:42px;
}
footer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    margin:0 8rem;
}
.footer{
    display:grid;
    grid-template-columns: 1fr;
    gap:1rem;
    align-items: center;
}
.footer p{
    font-size:16px;
    line-height:24px;
    font-family:Arial, Helvetica, sans-serif;
}
.footerLogo{
    width:80px;
    height:15px;
}
.footerLogo img{
    width:100%;
    height:100%;
}
    footer a{
    text-decoration:none;
    color:#840c16;
}

@media screen and (max-width: 900px) {
  
.driven,.people{
    grid-template-columns:1fr;
    margin:2rem;
    padding:0 2rem;
}

.growth{
    padding:1rem;
}

.growthImages {
    grid-template-columns:repeat(2,1fr);
    margin:2rem;
    gap:2rem;
}
.growth p:nth-child(2){
    margin:0 1.5rem;
    text-align:center;
    padding:2rem;
}
.growth p:first-child{
margin:2rem;
}

.giving{
    grid-template-columns:1fr;
    padding:2rem 0;
    gap:1rem;
    margin:2rem 0;
}
.giving1{
    grid-template-columns:1fr;
    margin:2rem;
    padding:0;
}

.giving2{
    grid-template-columns:repeat(3,1fr);
    gap:2.5rem;
    margin:2rem 0;
    padding:0;

}
}
@media screen and (max-width: 768px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    }
    .topbar{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      margin:1.75rem 3rem;
  }
  
  .logo{
      width:300px;
      height:30px;
  }
  
  footer{
          grid-template-columns:1fr 1fr;
          margin:2rem;
          gap:.5rem;
          place-items:center;
      }
      .footer{
        place-items:center;
      }
  
  }
@media screen and (max-width: 600px) {
    footer{
        grid-template-columns:1fr;
        place-items:center;
    }
}